<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Planned_shutdown.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
    </startup>
    <userSettings>
        <Planned_shutdown.My.MySettings>
            <setting name="shutdown_radio" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="reboot_radio" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hours_numeric" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="minutes_numeric" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="seconds_numeric" serializeAs="String">
                <value>0</value>
            </setting>
        </Planned_shutdown.My.MySettings>
    </userSettings>
</configuration>
